<style>
  
</style>
{% load static %}
{% load filter %}
<link rel="stylesheet" href="{% static 'fileshare/navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-dar.cssk bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo" src="{% static 'fileshare/img/logo.png' %}" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Files
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'myfiles' %}">My Files</a></li>
                <li><a class="dropdown-item" href="{% url 'shared_files' %}">Shared Files</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Doctors
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'all_doctors' %}">All Doctors</a></li>
                <li><a class="dropdown-item" href="{% url 'my_doctors' %}">My Doctors</a></li>
              </ul>
            </li>
            
            {% if user|has_group:"doctor" %}
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'login' %}">Patient Data</a>
              </li>
            {% endif %}
            
            {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'get_doctor_requests' %}">Doctor Requests</a>
              </li>
            {% endif %}

          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}

        </ul>
      </div>
      {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'profile' %}">
        <img class="user-logo" src="{% static 'fileshare/img/user.png' %}" alt="User">
      </a>
      <span class="profile-msg">Hello, {{ request.user }}</span>
      {% endif %}
    </div>
  </nav>
