name: "StackHawk"

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  schedule:
    - cron: '28 20 * * 0'
  workflow_dispatch:

jobs:
  hawkscan:
    name: StackHawk DAST
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2
      - name: 'Create .env.dev file'
        run: |
          echo "${{ secrets.ENV_DEV_FILE }}" > .env.dev
      - name: 'Create .env.prod and .env.prod.db files'
        run: |
          echo "${{ secrets.ENV_PROD_FILE }}" > .env.prod
          echo "${{ secrets.ENV_PROD_DB_FILE }}" > .env.prod.db
      - name: Run the Vuln Django Containers
        run: docker-compose  up --build
      - name: Migrate Database
        run: docker-compose exec web python manage.py migrate --noinput
      - name: Load Static Files
        run: docker-compose exec web python manage.py collectstatic --no-input --clear
      - name: Run HawkScan
        uses: stackhawk/hawkscan-action@v1.2.1
        with:
          apiKey: ${{ secrets.HAWK_API_KEY }}
          configurationFiles: stackhawk.yml
